html,
body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  margin-top: 1em;
  padding-bottom: 1em;
}

#buttonText,
h1 {
  margin: 0;
  font-family: "Fraunces";
  line-height: 1em;
  font-weight: 700;
}

h2,
p {
  margin: 0;
  font-family: "Montserrat";
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  font-weight: 500;
}

#card {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  border-radius: 16px;
}

#main-image {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0px 0px;
}

#inner {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 16px;
}

h2 {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.5em;
}

h1 {
  font-size: clamp(1rem, 1rem + 1vw, 1.7rem);
  color: hsl(212, 21%, 14%);
}

p {
  color: hsl(228, 12%, 48%);
}

#price-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#price {
  color: hsl(158, 36%, 37%);
}

#full-price {
  text-decoration: line-through;
}

#button-container {
  width: 100%;
  height: 42px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#button-text {
  color: hsl(0, 0%, 100%);
  font-size: clamp(0.4rem, 0.4rem + 1vw, 1rem);
}

#button-container:hover {
  background-color: hsl(158, 42%, 18%);
}
