/* @media (min-width: 501px) {
  #card {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    width: 30%;
    border-radius: 16px;
  }

  #main-image {
    width: auto;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
  }
}
 */